.grid.grid-2
    a(href="/", title="Route Square")
      img(src="/images/map-mini.png", alt="Route Square", id="logo")

  .grid.grid-6.end(style="text-align:left") 
    h1(style="margin:-15px 0px 0 0 !important;") Route Square
    p(style="margin:1px0 0 0 0 !important;") it's the journey that's important
    
