#page.grid.grid-16(style="text-aling:left") 
  !=partial('partials/brandingTopMenu',{})

  .grid.topmargin1.end
    .grid.grid-9(style="height:350px; text-align:left")

    .grid.grid-6
      h1 404
      p the page you are looking for is not avilable at this moment. 
        You can can create your own "Route Square" page 
      a(href="/") here 
  
 
