#page.grid.grid-12
  .grid.grid-6
    a(href="#", title="Route Square")
      img(src="/images/map.png", alt="Route Square", id="logo")
    h1(style="margin:-15px 0px 0 0 !important;")= title
    p(style="margin: 4px 0px 0 0 !important;") it's the journey that's important

  .grid.grid-5
    p(style="margin:220px 0px 0 0 !important;") Route Square is a dead simple way to create and share of your travel route.
    .top_margin0!=partial('partials/orangeButton',{link:"/route", text:"Start routing"})
