!!!
html
  head
    title= title
    meta(name='viewport', content='width=device-width, minimum-scale=1.0, maximum-scale=1.0')
    link(rel='stylesheet', href='/stylesheets/inuit.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    !=partial("scripts",{stack: jsstack})
    
  body!= body
