#page.grid.grid-10
  #map_canvas(style="width:500px;height:350px;")
  br
  br
  .grid-5
    lable location1
    input(type="text", rel="location")
  .grid-5
    lable location2 
    input(type="text", rel="location")
  .grid-5
    lable location3 
    input(type="text", rel="location")
  .grid-5.end
    lable location4 
    input(type="text", rel="location")
    






  
