/*------------------------------------*\
	MAIN
\*------------------------------------*/
html{
	font-family:"Helvetica Neue", Arial, sans-serif;
	color:#e4eef6;
	background:#4a8ec2;
	background:-moz-linear-gradient(-90deg,#5998c7,#4a8ec2) fixed;
	background:-webkit-gradient(linear,left top,left bottom,from(#5998c7),to(#4a8ec2)) fixed;
}
body{
	background:none;
	padding-top:50px;
	text-shadow:0 -1px 0 rgba(0,0,0,0.5), 0 1px 0 rgba(255,255,255,0.25);
}

#page{
	margin:0 auto;
	float:none;
	text-align:center;
}



/*------------------------------------*\
  CSS BOX COLOR
\*------------------------------------*/
.gray{
	background: #D6D6D6;
	color: #333333;
	text-shadow: none;
  padding:4px;
}

.white{
	background: #EEEEE6;
	color: #A6A6A0;
	text-shadow: none;
  padding:5px;
  padding-top:12px;
  font-size: 1.4em;
}

/*--------------------------------------*\
	CSS CORNER & BOX
\*--------------------------------------*/
.rounded-corners {
    -moz-border-radius: 12px;
    -webkit-border-radius: 12px;
    -khtml-border-radius: 12px;
    border-radius: 12px;
}

.top_margin0{
	margin-top:8px;
}

.top_margin1{
	margin-top:20px;
}

.top_margin2{
	margin-top:32px;
}

.top_margin3{
	margin-top:46px;
}

.top_margin4{
	margin-top:62px;
}

#plane{
	background: url(/images/icons/plane.png) no-repeat;
  width:32px;
	height:22px;
  padding:5px;
}


/*-------------------------------------*\
  CSS BUTTON
\*-------------------------------------*/
#obutton{
}

.box { 
  background: #F88620; 
}
.boxtop { 
  background: url(/images/bkgs/ne.gif) no-repeat top right; 
}
.boxtop div { 
  font-size: 0;
  height: 10px; 
  background: url(/images/bkgs/nw.gif) no-repeat top left; 
}
.boxbottom { 
  background: url(/images/bkgs/se.gif) no-repeat bottom right; 
}
.boxbottom div { 
  font-size: 0;
  height: 10px; 
  background: url(/images/bkgs/sw.gif) no-repeat bottom left; 
}
.boxcontent {
  padding: 0px 10px 0px 10px;
	font-size: 125%;
}



/*-----------------------------------*\
AUTO COMPLETE
\*-----------------------------------*/
.ac_results {
	text-shadow: none;
	padding: 0px;
	border: 1px solid black;
  color: #161616;
	background-color: #E6E6E8;
	overflow: hidden;
	z-index: 99999;
}

.ac_results ul {
	width: 100%;
	list-style-position: outside;
	list-style: none;
	padding: 0;
	margin: 0;
}

.ac_results li {
  background: url(/images/icons/add.png) no-repeat 99% 40%;
	margin: 0px;
	padding: 2px 5px;
	cursor: default;
	display: block;
	/* 
	if width will be 100% horizontal scrollbar will apear 
	when scroll mode will be used
	*/
	font: menu;
	font-size: 12px;
	/* 
	it is very important, if line-height not setted or setted 
	in relative units scroll will be broken in firefox
	*/
	line-height: 16px;
	overflow: hidden;
}

.ac_loading {
	background: white url('/images/icons/ajax-loader.gif') right center no-repeat;
}

.ac_odd {
	background-color: #eee;
}

.ac_over {
	background-color: #0A246A;
	color: white;
}




/*------------------------------------*\
	TYPE
\*------------------------------------*/
h1{
	font-weight:bold;
	font-size:3em;
	line-height:1;
}
a{
	color:inherit;
}





/*------------------------------------*\
	IMAGES
\*------------------------------------*/
#logo{
	margin-bottom:1.5em;
}





/*------------------------------------*\
	NARROW
\*------------------------------------*/
/*
CSS for tablets and narrower devices
*/





@media (min-width: 721px) and (max-width: 960px){}
/*--- END NARROW ---*/





/*------------------------------------*\
	MOBILE
\*------------------------------------*/
/*
CSS for mobile devices.
Linearise it!
*/





@media (max-width: 720px){
body{
	font-size:0.75em;
}
}
/*--- END MOBILE ---*/
