script(src="/javascripts/jquery.copy.js", type="text/javascript")
script(type="text/javascript")
 $(document).ready(function() {
   var pathname = window.location.pathname;
   var latlng = new google.maps.LatLng(2, 12);
   var myOptions = {
      zoom:1,
      center: latlng,
      mapTypeId: google.maps.MapTypeId.ROADMAP
   };
   $("div#share").click(function(){
      $.copy("some text here");
     //$.copy("http://routesquare.com"+pathname);
     alert("copyed");
   });
   var map = new google.maps.Map(document.getElementById("map_canvas"), myOptions);
   $.getJSON(pathname, function(routeData) {
     var locationList = new Array();
     $(routeData).each(function(){
       locationList.push(new google.maps.LatLng(this.coord[0],  this.coord[1]));
     });
     var flightPath = new google.maps.Polyline({ 
                         path: locationList,
                         strokeColor: "#FF3300",
                         strokeOpacity: 1,
                         strokeWeight: 6
                       });
     flightPath.setMap(map);
   });
 })
